<%- include('partials/head.ejs') %>

<main class="text-center py-4">
  <h1>Bien tenté, mais non :) </h1>

  <p>
    <a href="/">E.T. phone home</a>
  </p>
</main>

<%- include('partials/foot.ejs') %>
